.container.awards__container {
    width: 40%;
    height: 32vh;
}

.award__avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}

.testimonial {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.award__review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

@media screen and (max-width: 1024px) {
    #testimonials {
      margin-top: 4rem;
      position: relative;
      padding-top: 4rem;
    }
  
    .container.awards__container {
      width: 70%;
      height: auto;
      margin-bottom: 2rem;
    }
  
    .testimonial {
      margin-bottom: 2rem;
      padding: 1.5rem;
    }
  
    .award__review {
      width: 90%;
      margin: 0.8rem auto;
    }
  }
  
  @media screen and (max-width: 600px) {
    #testimonials {
      margin-top: 75rem;
      position: relative;
      padding-top: 4rem;
    }
  
    .container.awards__container {
      width: 90%;
      height: auto;
      margin-bottom: 2rem;
    }
  
    .testimonial {
      margin-bottom: 2rem;
      padding: 1.5rem;
    }
  
    .award__review {
      width: 90%;
      margin: 0.8rem auto;
    }
  }