.experience__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.experience__container > div {
    background: var(--color-bg-variant);
    padding: 1.4rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    width: 70%;
    margin: 0 auto;
}

.experience__SJSU > h3 {
    font-size: 20px;
}

.experience__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience__content {
    row-gap: 2rem;
}

.experience__details {
  gap: 2rem;
}

h6 {
    color: rgb(187, 199, 206);
    font-size: 17px;
    margin-bottom: 1.3rem;
    line-height: 1px; ;
}